<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= movie.Title %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1><%= movie.Title %></h1>

    <% if (movie.Poster && movie.Poster !== 'N/A') { %>
      <img src="<%= movie.Poster %>" alt="<%= movie.Title %> poster" />
    <% } %>

    <p><strong>Genre:</strong> <%= movie.Genre %></p>
    <p><strong>Plot:</strong> <%= movie.Plot %></p>
    <p><strong>Rated:</strong> <%= movie.Rated %></p>
    <p><strong>IMDb Rating:</strong> <%= movie.imdbRating %></p>
    <p><strong>Year:</strong> <%= movie.Year %></p>

    <a href="https://www.imdb.com/title/<%= movie.imdbID %>/" target="_blank">
      View on IMDb
    </a>
  </body>
</html>